@import "../../../constants/colors.scss";
.text-box {
  // width: 95%;
  height: 95%;
  overflow-y: hidden;
  box-shadow: 0px 1px 16px -10px rgba(0, 0, 0, 1);
  border-radius: 0px 0px 20px 20px;
  // position: relative;

  textarea {
    resize: none;
    height: 100%;
  }

  .read-start-button {
    background-color: $primary_background_color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    font-weight: 700;
  }

  .fullscreen-toggle-button {
    position: absolute;
    right: 60px;
    bottom: 50px;
  }
}
