.text-format-form {
  // background-color: gray;
  // height: 70px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 50px 10px 50px;
  // margin-bottom: 10px;

  .font-select-dropdown {
    width: 100px;
  }
  .topic-select-dropdown {
    width: 150px;
  }
  .font-size {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .text-format-form {
    padding: 20px 5px 20px 5px;
  }
}
