.app-intro-container {
  margin-top: 50px;
  overflow-wrap: break-word;
  h1,
  p {
    font-family: serif;
  }
  h1 {
    font-weight: bolder;
  }
  p {
    font-size: larger;
    text-align: justify;
  }
}
