@import "../../../constants/colors.scss";

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // padding-inline: 150px;
  padding: 0 150px 0px 150px;
  height: 70px;
  background-image: linear-gradient(
    to left,
    #007e7e,
    $primary_background_color,
    #029191
  );

  h2,
  a {
    color: white;
    font-size: large;
  }

  .navs-href {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    a {
      margin: 0 10px 0 10px;
      font-weight: 450;
    }
  }

  .app-logo {
    color: $primary_color;
    font-weight: 700;
    font-size: larger;
  }
}
@media only screen and (max-width: 600px) {
  .header-container {
    margin: 0;
    padding: 0px;
  }
}
